<p id="notice"><%= notice %></p>

<h1>
  <%= @beer_club.name + ", " + @beer_club.city %>
</h1>

<p>
  Founded <%= @beer_club.founded %>
</p>

<h2>Club Members</h2>
<ul>
    <% @beer_club.memberships.each do |membership| %>
        <li><%= membership.user.username %></li>
    <% end %>
</ul>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) if current_user %>
<%= link_to 'Destroy the club', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } if current_user %>
