
<h1>
  <%= @user.username %>
  <% if not @user.active and current_user.admin %>
      <td><span class="label label-info">account frozen</span></td>
  <% end %>
</h1>

<% if @user.ratings.empty? %>
  <p>No ratings</p>
<% else %>
  <p>Has <%= pluralize(@user.ratings.count, "rating") %>, average <%= round @user.average_rating %></p>

  <p>
    Favorite style: <%= @user.favorite_style %>
    <br>
    Favorite brewery: <%= @user.favorite_brewery.name %>
    <br>
  </p>

  <h2>Ratings</h2>
    <ul>
      <% @user.ratings.each do |rating| %>
          <li>
            <%= rating %>
            <% if @user == current_user %>
                <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </li>
      <% end %>
    </ul>

<%end%>

<h2>BeerClub Memberships</h2>
<% if not @user.memberships.empty? %>
    <ul>
      <% @user.memberships.each do |membership| %>
          <li><%= link_to membership.beer_club.name, membership.beer_club %></li>
      <% end %>
    </ul>
<% else %>
    <p>No club memberships</p>
<% end %>

<br>
<% if @user == current_user %>
    <%= edit_and_destroy_buttons(@user) %>
<% end %>
<br><br>
<% if current_user.admin %>
    <% if @user.active %>
        <%= link_to "Freeze account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-danger" %>
    <%else%>
        <%= link_to "Reactivate account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-danger" %>
    <%end%>
<%end%>
