<!DOCTYPE html>

<html>
<main role="main" class=".container-fluid">

  <div class="row-fluid">
    <div class="col-sm-12">
      <h1>Rating statistics</h1>
      <p>Number of ratings: <%= @ratings.count %> </p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="col-sm-6">
      <h2>Best beers</h2>
      <%= render 'list', things: @best_beers %>
    </div>
    <div class="col-sm-6 ">
      <h2>Best breweries</h2>
      <%= render 'list', things: @best_breweries %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="col-sm-12">
      <h2>Best styles</h2>
      <%= render 'list', things: @best_styles %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="col-sm-12">
      <h2>Most active raters</h2>
      <%= render 'userslist', users: @active_users %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="col-sm-12">
      <h2>Recent ratings</h2>
      <%= render 'ratingslist', ratings: @recent_ratings %>
    </div>
  </div>

</main>
</body>
</html>
